
#container {
    background: darkgoldenrod;
    height: 500px;
}
.bar{
    background: black;
    height: 60px;
    width: 15px;
    display: inline-block;
    margin: 34px -99px 235px 164px;
}

.structure{
    background: black;
    height: 235px;
    width: 100px;
    border-radius: 10px;
    display: inline-block;
    margin-top: 45px;
    margin-left: 45px;
}
.light{
   
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: flex;
    
    margin: auto;
    margin-top: 15px;
}
.red{
    background:red;
}
.yellow{
    background: yellow;
}
.green{
background: green;
}
.glow{
    box-shadow: 0 0 30px rgb(210, 229, 238);
  
}
.toggle-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    display: list-item;
    position: absolute;
    left: 106px;
}
    
  
  
  .toggle-button:hover {
    background-color: rgb(107, 23, 23);
    box-shadow: 0 0 30px rgb(210, 229, 238);
  
}
